.swiper {
    width: 100%;
    height: 100%;
      z-index: 1;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: rotate(90deg);
    z-index: 10;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    left: 85%;
    width: 20%;
    height: 10%;
    top: 50%;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,15px);
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,10px));
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,10px));
}


:root {
    --swiper-theme-color: rgb(229,25,55);
}